<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>CurrencyServlet</servlet-name>
        <servlet-class>com.hotel.hotelroomreservation.backend.servlets.CurrencyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrencyServlet</servlet-name>
        <url-pattern>/rates</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InfoServlet</servlet-name>
        <servlet-class>com.hotel.hotelroomreservation.backend.servlets.InfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>