<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotel.hotelroomreservation">

    <!-- TODO fix permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--TODO request permission on runtime on Android 6.0+ -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomePageActivity" />
        <activity android:name=".activities.RoomListActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.AboutAppActivity" />
        <activity android:name=".activities.RoomInfoActivity" />
        <activity android:name=".activities.PhotoListActivity" />
        <activity android:name=".activities.RoomFinderActivity" />
        <activity android:name=".activities.RoomReservationActivity" />
    </application>

</manifest>